In [1]:
import sqlite3

In [2]:
# conn = sqlite3.connect('Financial_Mary.db')
# c = conn.cursor()
# c.execute("""CREATE TABLE IF NOT EXISTS bank_accounts (
#     bank_name varchar(255),
#     account_id varchar(255),
#     account_type varchar(255),
#     balance int
# )""")
# c.execute("""CREATE TABLE IF NOT EXISTS in_and_out (
#     type varchar(255),
#     source varchar(255),
#     amount_monthly int
# )""")

# c.execute("INSERT INTO bank_accounts VALUES ('boa','9898','checking',9000)")
# c.execute("INSERT INTO bank_accounts VALUES ('boa','9000','saving',100000)")
# c.execute("INSERT INTO bank_accounts VALUES ('chase','9898','saving',80000)")
# c.execute("INSERT INTO bank_accounts VALUES ('','','credit',15000)")
# c.execute("INSERT INTO in_and_out VALUES ('income','salary',6000)")
# c.execute("INSERT INTO in_and_out VALUES ('spending','rent',-3000)")
# c.execute("INSERT INTO in_and_out VALUES ('spending','utilities',-1000)")
# c.execute("INSERT INTO in_and_out VALUES ('spending','shopping',-1000)")
# c.execute("INSERT INTO in_and_out VALUES ('spending','dining',-500)")
# conn.commit()

# conn.close()

In [3]:
# conn = sqlite3.connect('Financial_Mary.db')
# c = conn.cursor()
# c.execute("""CREATE TABLE IF NOT EXISTS neighbourhoods (
#     area varchar(255),
#     long_term_change int,
#     long_term_period int,
#     short_term_change int,
#     short_term_period int
# )""")
# c.execute("""CREATE TABLE IF NOT EXISTS mortgage (
#     over_1500 boolean,
#     down_payment_rate int,
#     APR_30year int
# )""")

# c.execute("INSERT INTO neighbourhoods VALUES ('beverly_hills',0.4,36,-0.05,4)")
# c.execute("INSERT INTO mortgage VALUES (true,0.2,0.05)")
# conn.commit()

# conn.close()